@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

.text-xs{
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}	

.text-base{
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-lg{
   font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */ 
}	

.text-xl	{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}	

.text-4xl{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}	

.text-5xl{
	font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-6xl{
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}	

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.font-open-sans{
    font-family: "Open Sans", sans-serif;
}

.w-full{
    width:100%
}

.h-full{
    height: 100%;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.items-center{
    align-items:center;
}

.items-start{
    align-items:flex-start;
}

.items-end{
    align-items:flex-end;
}



.m-auto{
    margin:auto;
}

.text-grey{
    color: #929292;
}

.text-orange{
    color: #F5831F;
}

.text-blue{
    color: #015CA1;
}

.text-red{
    color: #FF0000;
}

.text-blue-baby{
    color:#E8F6FE
}

.text-pink{
    color:#FFE8E8;
}

.font-bold{
    font-weight:700;
}

.font-medium{
    font-weight:600;
}

.font-regular{
    font-weight:500;
}

.bg-grey{
    background-color: #929292;
}

.bg-orange{
     background-color: #F5831F;
}

.bg-blue{
     background-color: #015CA1;
}

.bg-red{
     background-color: #FF0000;
}

.bg-blue-baby{
     background-color:#E8F6FE
}

.bg-pink{
    background-color:#FFE8E8;
}
